@font-face {
    font-family: 'bebas_neue_bold';
    src: url('/fonts/bebasneuebold-webfont.eot');
    src: url('/fonts/bebasneuebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebasneuebold-webfont.woff2') format('woff2'),
         url('/fonts/bebasneueregular-webfont.woff') format('woff'),
         url('/fonts/bebasneueregular-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'bebas neue';
    src: url('/fonts/bebasneueregular-webfont.eot');
    src: url('/fonts/bebasneueregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bebasneueregular-webfont.woff2') format('woff2'),
         url('/fonts/bebasneueregular-webfont.woff') format('woff'),
         url('/fonts/bebasneueregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
b, strong {
    font-weight: bold;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
.section-padding {
    padding: 40px 0;
}
.section-title {
    font-size: 40px;
    font-family: 'bebas neue';    
    margin-bottom: 25px;
    text-align: center;
}

/* ---- header-top ---- */
.page-header {
    box-shadow: 0 1px 5px #212121c7;
}
.header-top {
    background-color: #212121;   
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;      
}
.header-top-wrapper {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: .5rem 1rem;
}
.header-top__list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    flex-basis: 55%;
    margin: 0;
}
.header-top__item {
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
}
.header-top__link {
    padding: 5px 10px;
    /* border: 1px solid #ffffff; */
    background-color: #FFD501;
    color: #212121;
    text-decoration: none;
    border-radius: 4px;
    font-size: 13px;  
    animation: glowing 2000ms infinite;     
}
.header-top__link:hover {
    opacity: 0.8;
}

@keyframes glowing {
    0% { 
        background-color: #FFED01;
    }  
    
    50% {        
        box-shadow: 0px 0px 5px 3px #D6197E;
    }  
     
    100% {
        background-color: #FFED01;
    }
  }

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 5%;
    padding: 0;
    margin: 0;
}
.social__item {
    display: inline-block;
    margin-left: 5px;
}
.social__icon:hover {
    opacity: 0.8;
}

/* ---- main-nav ---- */
.header-nav {
    height: auto;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    background: url(/img/pattern-opacity.svg), linear-gradient(#FFD501, #FFED01); 
    background-position: 75px 125px, center;
    background-clip: padding-box;
    background-origin: border-box;
    background-size: 130px, cover;
}

.main-nav {   
    display: flex;
    justify-content: space-between;   
    padding: .5rem 1rem; 
    align-items: center; 
}

.logo {
    display: flex;    
    text-decoration: none;       
}
.logo:hover {
    
}
.logo__text {
    text-align: center;
    margin-left: 5px;
}
.logo__title {
    font-family: 'bebas neue';
    font-size: 33px;
    margin: 0;
    font-weight: bold;
    color: #D6197E;
}
.logo__subtitle {
    margin: 0;
    font-size: 13px;
    line-height: 0;
    color: #212121;
}


.main-nav__list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;    
    flex-basis: 60%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}
.main-nav__link {
    font-family: 'bebas neue';
    font-size: 25px;
    text-decoration: none;
    color: #212121;
    position: relative;    
}
.main-nav__item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #212121;
    transform: scale(0);
    transition: all 0.2s;
}
.main-nav__item:hover::after,
.main-nav__item:active::after,
.main-nav__item:focus::after {
    transform: scale(1);       
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33, 33, 33, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: rgba(33, 33, 33, 0.5);    
}

.page-main {
    padding-top: 45px;
}
.intro {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/img/content-img/intro-bg-1.jpg);
    background-attachment: fixed;
    background-color: rgba(0,0,0,.55);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
}
.intro__content {
    margin-top: 30px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid #ffffff;    
    padding: 40px;    
    box-sizing: border-box;
    height: auto;
}
.intro__title {
    font-size: 80px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: 'bebas neue';    
    font-weight: bold;  
    text-align: center;  
}
.intro__text {
    text-align: center;
    color: #ffffff;
    line-height: 150%;
    font-size: 20px;
    width: 80%;
}
.intro__feature {
    font-size: 17px;
    padding: 5px 15px;
    color: #ffffff;
    border: 1px dashed #ffffff;  
    text-transform: uppercase; 
    margin: 20px 0; 
    letter-spacing: 1px;
    line-height: 130%;
    text-align: center;
}
.about {
    padding-bottom: 50px;
}

.about-image-wrapper {     
    border: 9px solid #F7F7F7;     
    box-sizing: border-box;  
    box-shadow: 0 0 6px #212121;
    height: 100%;
        
}
.about__image {    
    display: flex;
    flex-shrink: 1;
    width: 100%;  
    height: 100%;      
}

.about__small-text {
    font-size: 18px; 
    background-color: #D6197E;
    color: #ffffff; 
    padding: 5px 10px; 
    text-align: center;     
}
.features {
    list-style: none;
    padding: 0;
}
.features__title {
    font-size: 18px;    
    text-transform: uppercase;
    border-bottom: 2px solid #D6197E;    
}
.features__text {
    color: #212121;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;        
}


.offer {    
    background-color: #F7F7F7;    
}
.offer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer__list {
    display: flex;    
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 0;      
}

.offer__card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;    
    margin-bottom: 30px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 2px rgba(34, 60, 80, 0.2);
}
.offer__card:hover {
    box-shadow: 5px 5px 15px 5px rgba(34, 60, 80, 0.2);
}

.offer__name {
    font-size: 1.8em;
    margin-top: 10px; 
    margin-bottom: 10px;
    font-family: 'bebas neue';
}

.offer__description {
    margin: 0 0 1em 0;
}
.button {
    border-radius: 0.4em;
    background-color: hsl(50,100%,50%);
    
}
.button:hover {    
    background-color: hsl(50,100%,45%);
}
.offer__link {
    width: 100%;    
    padding: 15px 0;
    text-decoration: none;
    color: #212121;
}

.modal-offer__content {
    padding: 20px;
}
.modal-offer__footer {
    display: flex;
    justify-content: flex-end;
}
.modal-offer__button {
    padding: 12px 35px;    
    border: none;
}
.modal-offer__button--close {
    background-color: rgba(185, 184, 184, 0.8);
}
.modal-offer__button--close:hover {
    background-color: rgba(185, 184, 184, 1);
}
.product__image-wrapper {
    display: flex;
    align-items: center;
}
.product__title {        
    margin-bottom: 15px;
}
.product__text {
    font-size: 15px;
    font-style: italic;
    line-height: 120%;
}
.product__table {
    border-collapse: collapse;
    width: 100%;    
}

.product__table td,th {
    padding: 0.5rem;
}
.product__table thead {
    background-color:  #212121;
    color: #ffffff;
}

.product__table th:not(:first-child), .product__table td:not(:first-child)  {
    text-align: right;
}
.reviews-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__text {
    margin: 25px 0;
    text-align: center;
    line-height: 180%;
}
.reviews__link {
    text-decoration: none;
    color: #4680C2;
    padding: 0 5px 0 4px;
    font-weight: bold;    
    border: 1px dashed #4680C2;
   
}
.reviews__link:hover {
    opacity: 0.8;
}

.reviews-slider {
    margin-left: 15px;
    margin-right: 15px;
}
.reviews-slider-wrapper {
    display: flex;
    max-width: 80%;    
}
.reviews-slider__control {    
    display: flex;    
    align-items: center;    
}
.reviews-slider__control-icon {
    background-image: url(/img/arrow-slider.png);
    width: 20px;
    height: 50px; 
}
.reviews-slider__control-icon:hover {
    opacity: 0.8;
}

.reviews-slider__control-icon--mirror {
    transform: scale(-1, 1);
}


.reviews-slider__list {
    padding: 0;
}
.autor {
    display: flex;       
    align-items: center;
}
.autor__photo {
    display: block;
    margin: auto;
    border-radius: 50%;    
}
.autor__name {
    display: block;    
    font-weight: bold;
}

.autor__content {
    display: block;
    padding: 15px;
    margin: 0;
}
.partners {
    background: rgb(40, 40, 40); 
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px;       
}

.partners__title {
    color: #ffffff;
    border-bottom: 15px;
}
.partners__list {
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}
.partners__item {    
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.contacts__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contacts__item {
    margin-bottom: 25px;
}
.contacts__value {
    margin: 10px 0 0 0;
}
.contacts__name {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;    
}
.contats__value {
    font-size: 15px;
}
.adress__item {
    font-size: 15px;
    margin: 7px 0;
}
.adress__list {
    list-style: none;
    padding: 0;
}

.contacts__map {
    border: none;  
} 
.page-footer {   
    height: auto; 
    background-color: #212121;   
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;  
}
.page-footer-wrapper {
    padding: .5rem 1rem;    
    display: flex;
    align-items: center;
    justify-content: space-between;   
      
}

.logo--footer p {
    color: #ffffff;     
}
.logo--footer:hover {
    opacity: 0.8;   
}
.footer-nav {
    display: flex;
    justify-content: flex-start;
}
.footer-nav__list {    
    list-style: none;
    padding: 0;
    margin: 0;    
}
.footer-nav__item {
    margin: 6px 0;
}
.footer-nav__link {
    font-size: 14px;
    color: #F7F7F7;
    text-decoration: none;
}
.footer-nav__link:last-child {
    margin-bottom: 0;
}
.footer-nav__link:hover {
    opacity: 0.8;
    color: #FFD501;
}

.price-link-wrapper {
    text-align: center;
}
.footer-nav__price-link {    
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 15px 0;
    color: #F7F7F7;
    padding: 15px 40px;
    border: 1px dashed #F7F7F7;
}
.footer-nav__price-link:hover {
    opacity: 0.8;
    color: #FFD501;
    border: 1px dashed #FFD501;
}

.social--footer {    
    justify-content: center;
}
.social-footer-wrapper {
    display: flex;
    flex-direction: column;
}
.social--footer p {
    color: #F7F7F7;
}
hr {
    background-color: rgba(247, 247, 247, 0.3);
}
.copyright {
    padding: .5rem 1rem;    
}
.copyright__right {
    font-size: 12px;
    margin-top: 0;
    color: rgba(247, 247, 247, 0.7);
}
.copyright__copy-text {
    font-size: 12px;
    color: rgba(247, 247, 247, 0.7);
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

@media only screen and (max-width : 1199px) {
    .reviews-slider-wrapper {
        max-width: 100%;
    }

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
        

}
@media only screen and (max-width : 991px) {
    .header-top__list {       
        flex-basis: 70%;        
    }
    .header-top__item {
        font-size: 12px;
    }
    .main-nav__list {
        flex-basis: 75%;
    }
    .intro__title {
        font-size: 55px;
    }
    .intro__text {
        font-size: 15px;
    }
    .about__description {
        padding-top: 15px;
    }
    .offer__description {
        font-size: 15px;
    }
    .autor__text {         
        height: 144px;
    }
    .contacts__map {
        height: 400px;
    }
    .footer-nav {        
        justify-content: center;
    }
    .footer-nav__price-link {
        font-size: 12px;
        padding: 15px 10px;
    }    

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}  

@media only screen and (max-width : 767px) {  
    .header-top-wrapper {
        padding: 0.5rem 0rem;
    }
    .social {
        display: none;
    }
    .header-top__item:last-child {
        display: none;
    } 
    .main-nav__list {
        margin-top: 15px;
        flex-direction: column;        
    }   
    .main-nav__item {        
        margin: 1px 0;
    }
    .intro__content {
        padding: 20px;
    }
    .offer__name {
        font-size: 1.7rem;
    }
    .autor__name {
        text-align: center;                
    }
    .autor__text {
        text-align: center;
        height: 126px;
    }    
    .contacts {        
        padding: 40px 15px 15px 15px;
    }
    .logo--footer {
       justify-content: center;
       margin-top: 15px;
       margin-bottom: 15px;
    }
    
}

@media only screen and (max-width : 576px) {
    .header-top-wrapper {
        padding: 0.5rem 1rem;
    }   
    .autor__text {        
        height: 130px;
    }    
    .contacts__map {
        height: 300px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .header-top__list {
        flex-basis: 45%;
    }
    .header-top__item:nth-child(2) {
        display: none;
    } 
    .intro__text {
        font-size: 14px;
    }
    .section-title {
        font-size: 35px;
    }
    .features__text {
        font-size: 14px;
    }    
    .autor__text {     
        font-size: 15px;   
        height: 140px;
    }
    .modal-offer__button {
        width: 100%;
    }
    
}

@media only screen and (max-width : 360px) {
    .header-top__list {
        flex-basis: 58%;
    }
    .intro__title {
        font-size: 30px;
    }
    .autor__text {   
        font-size: 14px;        
        height: 145px;
    }
    .product__table {
        font-size: 14px;
    }
    .copyright__right {
        font-size: 10px;        
    }
    .copyright__copy-text {
        font-size: 10px;
    }
    
}